body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  
  .logo {
    width: 180px;
    height: 180px;
    display: block; 

  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #000;
  }
  
  .main {
    padding: 20px;
  }

  
  
  .destaque {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}
.destaque-imagem {
    position: relative;
}
.destaque img {
    width: 100%;
    height: auto;
}
.destaque-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
  
  .destaque-texto h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .destaque-texto p {
    margin-bottom: 10px;
  }
  
  .ultimas-noticias {
    margin-bottom: 20px;
  }
  
  .ultimas-noticias h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ultimas-noticias ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .ultimas-noticias li {
    margin-bottom: 20px;
  }
  
  .ultimas-noticias img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
  }
  
  .ultimas-noticias a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
  }
  
  .mais-lidas {
    margin-bottom: 20px;
  }
  
  .mais-lidas h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .mais-lidas ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mais-lidas li {
    margin-bottom: 10px;
  }
  
  .mais-lidas a {
    text-decoration: none;
    color: #000;
  }
  
  
  .nav a, 
  .ultimas-noticias h2,
  .ultimas-noticias a,
  .destaque-texto h2,
  .mais-lidas h2, 
  .mais-lidas a {
    transition: color 0.45s ease;
  }
  
  .nav a:hover,
  .ultimas-noticias h2:hover,
  .ultimas-noticias a:hover,
  .destaque-texto h2:hover,
  .mais-lidas h2:hover, 
  .mais-lidas a:hover {
    color: #973B3B;
  }
  
  .footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    font-size: 14px;
    color: darkgray;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    display: inline;
    margin-right: 15px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
  }
  
  .footer ul li a:hover {
    color: #973B3B;;
  }
  
  .news-container {
    display: flex;
  }
  
  .left-column, .right-column {
    width: 50%;
  }